.main {
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-image: url("../../../public/IMG/home/home-pic.jpg");
    background-position: center;
    background-size: cover;
}

.subtitle {
    font-size: 15px;
    padding-top: 10px;
}

.intro-text {
    width: 100%;
    text-align: center;
}
